.App, ::before::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(.25turn, darkgrey, rgb(26, 25, 25));
}
.tab-before-after::before::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.tab-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  background: linear-gradient(.25turn, rgb(56, 56, 56), rgb(16, 18, 32));
  word-break: break-all;
}

.tab-style {
  color: #282c34
}

.tab-block{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.tab {
  padding: 10px;
  text-align: center;
  width: 40%;
  background: transparent;
  margin: 20px;
  opacity: 80%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 30px;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: rgb(146, 146, 146);
}

.tab:not(:last-child) {

}

.active-tab-resume {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.active-tab-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: lighter;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.active-tab-extra {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: lighter;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.active-tab-resume::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.active-tab-links::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.active-tab-extra::before {
  font-family: Arial, Helvetica, sans-serif;
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;

}

button{
  border: none;
}





.tabs-content {
  flex-grow: 1;
}

.tab-content {
  background: transparent;
  padding-top: 40px;
  padding-bottom: 80px;
  display: none;
  padding-bottom: auto;
}

.tab-block-under-resume{
  margin: 10% 10% 0 10%;
  display: flex;
  justify-content: space-around;
}

.tab-content-block{
  width: 30%;
}

.tab-content h2 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5%;
  font-family: sans-serif;
  color: white;
}

.resume-button{
  cursor: pointer;
  font-size: larger;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: transparent;
  font-family: sans-serif;
  font-weight: lighter;
  color: rgb(161, 160, 160);
}

.resume-button-active{
  cursor: pointer;
  font-size: 150%;
  display: block;
  margin-top: 15px;
  background: transparent;
  font-family: sans-serif;
  color: rgb(219, 218, 218);
}

.tab-content hr {
  position: relative;
  width: 60%;
  height: 2px;
  background: white;
  margin-top: 50px;
}

.resume-content-p{
  color: transparent;
  word-break: normal;
  margin-left: auto;
  margin-right: auto;
  font-weight: light;
  margin-top: 50px;
  height: 80px;
}

.resume-content-p-active{
  word-break: normal;
  overflow: hidden;
  color: rgb(201, 200, 200);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 100px;
  font-weight: light;
}

.resume-content-p-active::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}

.resume-download-style {
  justify-content: center;
  display: block;
  text-align: center;
  font-weight: lighter;
  color: white;
  margin-top: 100px;
}

.resume-email-style {
  overflow: hidden;
  margin-top: 5%;
  color: grey;
  text-align: center;
}

.resume-email-line {
  width: 25%;
  margin-left: 37.5%;
  justify-content: center;
  position: relative;
  border: 1px solid rgb(22, 22, 22);
}
.tab-content-active {
  display: block;
}